.progressBar {
  width: 100%;
  display: flex;
  margin: var(--bigSpace) 0;
}

.elem {
  flex: 1;
  height: 3px;
  background-color: var(--shadow);
  margin-left: var(--littleSpace);
}

.elem:nth-child(1) {
  margin-left: 0;
  cursor: pointer;
}

.selected {
  background-color: var(--CTA);
  cursor: pointer;
}

.button {
  margin-top: var(--commonSpace);
}

.invalid {
  color: brown;
}

.hidden {
  display: none;
}
.alert {
  margin-top: var(--commonSpace);
}
